In [1]:
import pandas as pd
import zipfile

In [119]:
zip_path = 'RiceExporters.zip'
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall('extracted_folder')

# List all CSV files in the extracted folder
csv_files = [file for file in zip_ref.namelist() if file.endswith('.csv')]

# Initialize an empty list to hold DataFrames
dataframes = []

# Read and concatenate all CSV files into a single DataFrame
for file in csv_files:
    df = pd.read_csv(f'extracted_folder/{file}')
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(dataframes, ignore_index=True)

In [120]:
df = combined_data

In [121]:
pd.options.display.max_columns = None
df.tail()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER ADDRESS,IMPORTER COUNTRY,CITY STATE,TEL,FAX,E-MAIL,WEB,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,IMPORT VALUE CIF,CURRENCY,NET WEIGHT,NET WEIGHT UNIT,GROSS WEIGHT,GROSS WEIGHT UNIT,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,NUMBER OF PACKAGES,PACKAGES UNIT,INCOTERMS,PLACE OF DELIVERY,BRAND NAME,MANUFACTORING COMPANY,PORT OF ARRIVAL,PORT OF DEPARTURE,NOTIFY PARTY,NOTIFY ADDRESS,VOLUME,VOLUME UNIT,PREPORT,SHIPPER COUNTRY,US STATE,US PORT2,FINAL US PORT,FINAL FOREIGN PORT,FINAL COUNTRY,CONTAINER COUNT,TOTAL TEUS,Final Qty,PORT OF DEPARTURE.1
28288,8695,01-01-2022,10063010,"Rice, parboiled",SRI AMBIKAS PTE.LTD.,.,Singapore,Singapore,.,.,.,.,TRISHAKTHI VARAHI FOODS PRIVATE LIMITED,", , , ,",India,1935.00,0.0,USD,0.0,NaN,0.0,NaN,90.0,NOS,ABIRAMI SONAMASOORI PARBOILED RICE 25 KG,0.0,NaN,NaN,NaN,NaN,NaN,Singapore,CHENNAI SEA (INMAA1),NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
28289,8696,01-01-2022,1006309809,"Rice, Semi-Milled Or Wholly Milled, Whether Or...","ООО """"АГРО-АЛЬЯНС""""",197373 Г. САНКТ-ПЕТЕРБУРГ ПРОСПЕКТ ШУВАЛОВСКИЙ...,Russian Federation,Russia,.,.,.,.,AL-GYAS EXPORTS PRIVATE LIMITED,"370201, GUJARAT, MITHI ROHAR GANDHIDHAM, SURVE...",India,95698.65,0.0,USD,200000.0,Kg.,200595.0,Kg.,0.0,NaN,"ИНДИЙСКИЙ БЕЛЫЙ РИС, ПОЛНОСТЬЮ ОБРУШЕННЫЙ. ПОЛ...",0.0,NaN,FOB,MUNDRA,БЕЗ ТОВАРНОГО ЗНАКА,AL-GYAS EXPORTS PVT LTD,NaN,NaN,"ООО """"АГРО-АЛЬЯНС""""","197373, ГОРОД, САНКТ-ПЕТЕРБУРГ, ШУВАЛОВСКИЙ ПР...",0.0,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
28290,8697,01-01-2022,10063090,Rice Excptg Parboiled (Excl Basmati Rice),TO,"AVANTI PRODUCTS, LLC,, 10880 NW 30TH ST. MIAMI...",United States,Rhode Island,.,.,.,.,SHREE GAJANAN INDUSTRIES,"6-20-200 NEAR RAILWAY GATENIZAMABAD ,ANDHRA ...",India,782.00,0.0,USD,0.0,NaN,0.0,NaN,50.0,PCS,Indian Non Basmati Rice (DETAILS AS PER,0.0,NaN,NaN,NaN,NaN,NaN,Houston,NHAVA SHEVA SEA (INNSA1),NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
28291,8698,01-01-2022,10063090,Rice Excptg Parboiled (Excl Basmati Rice),TO,"AVANTI PRODUCTS, LLC,, 10880 NW 30TH ST. MIAMI...",United States,Rhode Island,.,.,.,.,SHREE GAJANAN INDUSTRIES,"6-20-200 NEAR RAILWAY GATENIZAMABAD ,ANDHRA ...",India,12230.00,0.0,USD,0.0,NaN,0.0,NaN,1000.0,PCS,Indian Non Basmati Rice (DETAILS AS PER,0.0,NaN,NaN,NaN,NaN,NaN,Houston,NHAVA SHEVA SEA (INNSA1),NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
28292,8699,01-01-2022,10063090,Rice Excptg Parboiled (Excl Basmati Rice),PIONEER CASH CARRY,. 18601 PIONEER BLVD ARTESIA-CA 90701 -5629 ...,United States,.,NaN,NaN,.,www.pioneercashandcarry.com,NSP INTERNATIONAL,"D- 803, KONDAPUR, ,HYDERABAD, TELANGANA. ,PIN...",India,5346.00,0.0,USD,0.0,NaN,0.0,NaN,660.0,NOS,VATAN IDLI RICE,0.0,NaN,NaN,NaN,NaN,NaN,Long Beach,NHAVA SHEVA SEA (INNSA1),NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN

In [122]:
df.isnull().sum()

NO                           0
ARRIVAL DATE                 0
HS CODE                      0
HS CODE DESCRIPTION        147
IMPORTER NAME              131
IMPORTER ADDRESS           292
IMPORTER COUNTRY             0
CITY STATE                   6
TEL                        628
FAX                        728
E-MAIL                     525
WEB                       1139
EXPORTER NAME              145
EXPORTER ADDRESS          1226
COUNTRY OF ORIGIN            0
IMPORT VALUE FOB             0
IMPORT VALUE CIF             0
CURRENCY                   425
NET WEIGHT                   0
NET WEIGHT UNIT          26840
GROSS WEIGHT                 0
GROSS WEIGHT UNIT        26829
QUANTITY                     0
QUANTITY UNIT              534
PRODUCT DETAILS            377
NUMBER OF PACKAGES           0
PACKAGES UNIT            27641
INCOTERMS                27716
PLACE OF DELIVERY        27959
BRAND NAME               27925
MANUFACTORING COMPANY    28031
PORT OF ARRIVAL            824
PORT OF DEPARTURE         1363
NOTIFY PARTY             27442
NOTIFY ADDRESS           27804
VOLUME                       0
VOLUME UNIT              28293
PREPORT                  28293
SHIPPER COUNTRY          27608
US STATE                 28293
US PORT2                 28293
FINAL US PORT            28293
FINAL FOREIGN PORT       28293
FINAL COUNTRY            28293
CONTAINER COUNT              0
TOTAL TEUS                   0
Final Qty                20906
PORT OF DEPARTURE.1      21565
dtype: int64

In [123]:
# Define the columns to keep
columns_to_keep = [
    'NO',
    'ARRIVAL DATE',
    'HS CODE',
    'HS CODE DESCRIPTION',
    'IMPORTER NAME',
    'IMPORTER COUNTRY',
    'IMPORT VALUE CIF',
    'CITY STATE',    
    'EXPORTER NAME',
    'EXPORTER ADDRESS',
    'COUNTRY OF ORIGIN',
    'IMPORT VALUE FOB',    
    'CURRENCY',    
    'QUANTITY',
    'QUANTITY UNIT',
    'PRODUCT DETAILS',    
    'PORT OF ARRIVAL',
    'PORT OF DEPARTURE'
    
]

# Keep only the specified columns in the DataFrame
data = df[columns_to_keep]

In [140]:
data['QUANTITY UNIT'].unique()

array(['MTS', 'KGS', 'CTN', 'BAG', 'NOS', 'PAC', 'PCS', 'Tonelada', 'BOX',
       'TON', 'LBS', 'QTL', 'TNE', 'KILOGRAM', 'KILOGRAMOS NETOS', 'KGA',
       'UNK'], dtype=object)

In [141]:
mapping = {
    'KILOGRAM': 'KGS',
    'KILOGRAMOS NETOS': 'KGS',
    'TON': 'MTS',
    'TNE': 'MTS'
}

# Replace values in 'QUANTITY UNIT' column based on the mapping
data['QUANTITY UNIT'] = data['QUANTITY UNIT'].replace(mapping)

# Check the unique values after renaming
print(data['QUANTITY UNIT'].unique())

['MTS' 'KGS' 'CTN' 'BAG' 'NOS' 'PAC' 'PCS' 'Tonelada' 'BOX' 'LBS' 'QTL'
 'KGA' 'UNK']

In [143]:
# Define the values to filter
values_to_filter = ['KGS', 'MTS', 'LBS', 'QTL']

# Filter the DataFrame based on specified values in 'QUANTITY UNIT' column
filtered_data = data[data['QUANTITY UNIT'].isin(values_to_filter)]

In [148]:
data = filtered_data
data['QUANTITY UNIT'].unique()

array(['MTS', 'KGS', 'LBS', 'QTL'], dtype=object)

In [149]:
# Define a function to calculate QTY IN KG
def calculate_qty(row):
    if row['QUANTITY UNIT'] == 'MTS':
        return row['QUANTITY'] * 1000
    elif row['QUANTITY UNIT'] == 'LBS':
        return row['QUANTITY'] * 0.453
    if row['QUANTITY UNIT'] == 'QTL':
        return row['QUANTITY'] * 100
    else:
        return row['QUANTITY']

# Apply the function to create the new column 'QTY IN KG'
data['QTY IN KG'] = data.apply(calculate_qty, axis=1)

C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\543040977.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['QTY IN KG'] = data.apply(calculate_qty, axis=1)

In [150]:
data.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,IMPORT VALUE CIF,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG
0,1,30-01-2019,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,0.0,United Arab Emirates,"GREEN VILLAGE AGROS PVT.LTD.,","938 SEC.-13URBAN ESTATE ,KARNAL/HRY/TARAORI/...",India,58262.4,USD,52.02,MTS,"INDIAN ORIGIN 1121 STEAM BASMATI RICE, P",Jebel Ali,MUNDRA SEA (INMUN1),52020.0
1,2,30-01-2019,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,0.0,United Arab Emirates,FAUJI EXIM PRIVATE LIMITED,"100, SAINIK VIHARPITAM PURA ,DELHI ,110034 ,...",India,7245.0,USD,6.30,MTS,"1121 RAW BASMATI RICE SORTEX, CROP 2016,",Jebel Ali,MUNDRA SEA (INMUN1),6300.0
2,3,30-01-2019,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,0.0,United Arab Emirates,K K R AGRO MILLS PRIVATE LIMITED,"III/678, OKKAL P.O. KALADY, ERNAKULAM DIST. ,...",India,9280.3,USD,5300.00,KGS,2 KG JEERAKASALA RICE,Jebel Ali,COCHIN SEA (INCOK1),5300.0
3,4,30-01-2019,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,0.0,United Arab Emirates,VISHNU ENTERPRISES,"NO.545,J-2, BKR NAGAR, SATHY ROAD,GANDHIPURAM,...",India,11518.0,USD,26000.00,KGS,NON BASMATHI RICE (THANJAVOOR KURUVA RIC,Jebel Ali,TUTICORIN SEA (INTUT1),26000.0
5,6,30-01-2019,10063010,"Rice, parboiled",LULU HYPER MARKET LLC.,United Arab Emirates,0.0,United Arab Emirates,SRESTA NATURAL BIOPRODUCTS PVT LTD,"203 PAVANI ANNEXE, ROADNO.2BANJARA HILLS ,HY...",India,999.6,USD,840.00,KGS,ORGANIC IDLI RICE 1KG(AS PER INV&PKG),ABU DHABI,HYDERABAD ICD (INSNF6),840.0

In [151]:
data.shape

(18484, 19)

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18484 entries, 0 to 28287
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NO                   18484 non-null  int64
 1   ARRIVAL DATE         18484 non-null  object
 2   HS CODE              18484 non-null  int64
 3   HS CODE DESCRIPTION  18484 non-null  object
 4   IMPORTER NAME        18374 non-null  object
 5   IMPORTER COUNTRY     18484 non-null  object
 6   IMPORT VALUE CIF     18484 non-null  float64
 7   CITY STATE           18484 non-null  object
 8   EXPORTER NAME        18483 non-null  object
 9   EXPORTER ADDRESS     18483 non-null  object
 10  COUNTRY OF ORIGIN    18484 non-null  object
 11  IMPORT VALUE FOB     18484 non-null  float64
 12  CURRENCY             18484 non-null  object
 13  QUANTITY             18484 non-null  float64
 14  QUANTITY UNIT        18484 non-null  object
 15  PRODUCT DETAILS      18484 non-null  object
 16  PORT OF ARRIVAL      18484 non-null  object
 17  PORT OF DEPARTURE    18484 non-null  object
 18  QTY IN KG            18484 non-null  float64
dtypes: float64(4), int64(2), object(13)
memory usage: 2.8+ MB

In [153]:
data_filtered = data.dropna(subset=['QUANTITY UNIT'])
data = data_filtered
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18484 entries, 0 to 28287
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NO                   18484 non-null  int64
 1   ARRIVAL DATE         18484 non-null  object
 2   HS CODE              18484 non-null  int64
 3   HS CODE DESCRIPTION  18484 non-null  object
 4   IMPORTER NAME        18374 non-null  object
 5   IMPORTER COUNTRY     18484 non-null  object
 6   IMPORT VALUE CIF     18484 non-null  float64
 7   CITY STATE           18484 non-null  object
 8   EXPORTER NAME        18483 non-null  object
 9   EXPORTER ADDRESS     18483 non-null  object
 10  COUNTRY OF ORIGIN    18484 non-null  object
 11  IMPORT VALUE FOB     18484 non-null  float64
 12  CURRENCY             18484 non-null  object
 13  QUANTITY             18484 non-null  float64
 14  QUANTITY UNIT        18484 non-null  object
 15  PRODUCT DETAILS      18484 non-null  object
 16  PORT OF ARRIVAL      18484 non-null  object
 17  PORT OF DEPARTURE    18484 non-null  object
 18  QTY IN KG            18484 non-null  float64
dtypes: float64(4), int64(2), object(13)
memory usage: 2.8+ MB

In [158]:
count_zero = (data['IMPORT VALUE CIF'] == 0).sum()
count_zero

18483

In [159]:
sort_data = data.sort_values(['QTY IN KG'], ascending=False)
sort_data.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,IMPORT VALUE CIF,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG
11558,5904,04-01-2020,10063090,Rice Excptg Parboiled (Excl Basmati Rice),SAGAR MATHA AGRO TRADING PVTLTD.,Nepal,0.0,Nepal,MARKANDEY PRASAD GUPTA,", , , ,",India,900000.0,INR,30000.0,QTL,NB RICE,.NEPAL,BHITAMORE (INBTMB),3000000.0
13908,1702,25-01-2021,10063099,Loại khác,CôNG TY Cổ PHầN THựC PHẩM THIêN NHIêN KING GREEN,Viet Nam,0.0,VN - Vietnam,SARALA FOODS PVT LTD,"# 37-2-14, FLAT-B , VIJAYASINDHU RESIDENCY , M...",India,208000.0,USD,520.0,MTS,Gạo 5% tấm - dùng trong sản xuất bia - (50kgs/...,Cat Lai,Krishnapatnam,520000.0
13364,1158,27-01-2021,10063099,Loại khác,CôNG TY Cổ PHầN THựC PHẩM THIêN NHIêN KING GREEN,Viet Nam,0.0,VN - Vietnam,SARALA FOODS PVT LTD,"# 37-2-14, FLAT-B , VIJAYASINDHU RESIDENCY , M...",India,208000.0,USD,520.0,MTS,Gạo 5% tấm - dùng trong sản xuất bia - (50kgs/...,CANG CONT SPITC,Chennai (ex Madras),520000.0
22761,3168,20-01-2022,10063099,Loại khác,CôNG TY TNHH SảN XUấT Và THươNG MạI ốC ĐảO,Viet Nam,0.0,Vietnam,HEMRAJ INDUSTRIES PRIVATE LIMITED,"48B, RAFI AHMED KIDWAI ROAD , 1ST FLOOR, KOLKA...",India,105300.0,USD,270.0,MTS,Gạo 5% tấm ( India White Rice Swarna 5% Broke...,Cat Lai,Kolkata (ex Calcutta),270000.0
21581,1988,24-01-2022,10063099,Loại khác,CôNG TY TNHH SảN XUấT Và THươNG MạI ốC ĐảO,Viet Nam,0.0,Vietnam,HEMRAJ INDUSTRIES PRIVATE LIMITED,"48B, RAFI AHMED KIDWAI ROAD , 1ST FLOOR, KOLKA...",India,108000.0,USD,270.0,MTS,Gạo 5% tấm ( India White Rice Swarna 5% Broke...,Cat Lai,Kolkata (ex Calcutta),270000.0

In [160]:
Q1 = data['QTY IN KG'].quantile(0.25)
Q3 = data['QTY IN KG'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

# Define Outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Outliers
outliers = data[(data['QTY IN KG'] < lower_bound) | (data['QTY IN KG'] > upper_bound)]

print(outliers)

         NO ARRIVAL DATE   HS CODE                        HS CODE DESCRIPTION  \
76       77   30-01-2019  10063020                               Basmati Rice
92       93   30-01-2019  10063020                               Basmati Rice
110     111   30-01-2019  10063090  Rice Excptg Parboiled (Excl Basmati Rice)
112     113   30-01-2019  10063020                               Basmati Rice
120     121   30-01-2019  10063020                               Basmati Rice
...     ...          ...       ...                                        ...
27893  8300   03-01-2022  10063090  Rice Excptg Parboiled (Excl Basmati Rice)
27919  8326   03-01-2022  10063010                            Rice, parboiled
27977  8384   03-01-2022  10063020                               Basmati Rice
28037  8444   03-01-2022  10063020                               Basmati Rice
28242  8649   01-01-2022  10063020                               Basmati Rice

                             IMPORTER NAME    IMPORTER COUNTRY  \
76                                     NaN              Turkey
92                      INDYA FOODSPTYLTD.           Australia
110              BLUE DOLPIN TECH PTE.LTD.           Singapore
112                                    NaN              Turkey
120                     INDYA FOODSPTYLTD.           Australia
...                                    ...                 ...
27893           KANDY TRADE CENTRE PVTLTD.           Sri Lanka
27919                  OOO MISTRAL TRADING  Russian Federation
27977  SAPRA TARABAR INTERNATIONAL TRANSPO                Iraq
28037   ROJ TARABAR DARYARAH INTERNATIONAL                Iraq
28242              ARIA TARABAR IRANIAN CO                Iran

       IMPORT VALUE CIF          CITY STATE  \
76                  0.0         TR - Turkey
92                  0.0           Australia
110                 0.0           Singapore
112                 0.0         TR - Turkey
120                 0.0           Australia
...                 ...                 ...
27893               0.0           Sri Lanka
27919               0.0  Russian Federation
27977               0.0           IQ - Iraq
28037               0.0           IQ - Iraq
28242               0.0                Iran

                                      EXPORTER NAME  \
76                   KINDA OVERSEAS PRIVATE LIMITED
92                 CAPITAL VENTURES PRIVATE LIMITED
110                               ADITYA ASSOCIATES
112           SUPPLE TEK INDUSTRIES PRIVATE LIMITED
120                CAPITAL VENTURES PRIVATE LIMITED
...                                             ...
27893               AGS FOODS INDIA PRIVATE LIMITED
27919  SRI SAI NATH AGRI INDUSTRIES PRIVATE LIMITED
27977                       LEKH RAJ NARINDER KUMAR
28037                       LEKH RAJ NARINDER KUMAR
28242                       LEKH RAJ NARINDER KUMAR

                                        EXPORTER ADDRESS COUNTRY OF ORIGIN  \
76     H.NO. 159, NEW GRAIN MARKET,GT ROA  D, KARNAL ...             India
92     SHOP NO.7,SARJA MARKET COMPLEXNAHARPUR,ROHINI....             India
110    1025, PHULE RAO KI GHATI   ,JODHPUR , ,0291-27...             India
112    VILLAGE CHABBA,TARN TARAN ROAD,   ,AMRITSAR PU...             India
120    SHOP NO.7,SARJA MARKET COMPLEXNAHARPUR,ROHINI....             India
...                                                  ...               ...
27893                                            , , , ,             India
27919  MANA MA BUSINESS CENTRE,MERCANTILE  BUILDING,9...             India
27977  RICE & GENERAL MILLSAMBALA JIND ROAD   ,KAITHA...             India
28037  RICE & GENERAL MILLSAMBALA JIND ROAD   ,KAITHA...             India
28242  RICE & GENERAL MILLSAMBALA JIND ROAD   ,KAITHA...             India

       IMPORT VALUE FOB CURRENCY  QUANTITY QUANTITY UNIT  \
76             71445.50      USD     95.90           MTS
92             76311.00      USD     83.40           MTS
110            45500.00      USD    100.00           MTS
112            86961.60      USD     95.04           MTS
120            67971.00      USD     83.40           MTS
...                 ...      ...       ...           ...
27893          36400.00      USD    104.00           MTS
27919          60600.00      USD    100.00           MTS
27977         110665.50      USD    104.50           MTS
28037         119831.40      USD    102.42           MTS
28242          92459.55      USD     96.01           MTS

                                PRODUCT DETAILS PORT OF ARRIVAL  \
76     INDIAN LONG GRAIN BASMATI RICE Packed in          Mersin
92                 INDIAN BASMATI RICE 5 KG X 3       Melbourne
110       PARBOILED PONNI RICE PAC IN 25 KGS PP       SINGAPORE
112     INDIAN BASMATI RICE 1121 LONG GRAIN PKG          Mersin
120                INDIAN BASMATI RICE 5 KG X 3       Melbourne
...                                         ...             ...
27893  INDIAN WHITE RAW RICE NON BASMATI 2080 B         Colombo
27919   INDIAN PARBOILED LONG GRAIN MILLED RICE    Novorossiysk
27977  INDIAN PURE 1121 SELLA BASMATI CREAMY RI    Bandar Abbas
28037  INDIAN 1121 SELLA BASMATI RICE PKD IN 4X    Bandar Abbas
28242  INDIAN 1121 WHITE SELLA BASMATI RICE 266    Bandar Abbas

               PORT OF DEPARTURE  QTY IN KG
76           MUNDRA SEA (INMUN1)    95900.0
92       TUGLAKABAD ICD (INTKD6)    83400.0
110         CHENNAI SEA (INMAA1)   100000.0
112          MUNDRA SEA (INMUN1)    95040.0
120      TUGLAKABAD ICD (INTKD6)    83400.0
...                          ...        ...
27893        MUNDRA SEA (INMUN1)   104000.0
27919  CONCOR ICD/MIHAN (INKPK6)   100000.0
27977       SONEPAT ICD (INBDM6)   104500.0
28037       SONEPAT ICD (INBDM6)   102420.0
28242        MUNDRA SEA (INMUN1)    96010.0

[988 rows x 19 columns]

In [161]:
data_clean = data[(data['QTY IN KG'] >= lower_bound) & (data['QTY IN KG'] <= upper_bound)]
data = data_clean
data.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,IMPORT VALUE CIF,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG
0,1,30-01-2019,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,0.0,United Arab Emirates,"GREEN VILLAGE AGROS PVT.LTD.,","938 SEC.-13URBAN ESTATE ,KARNAL/HRY/TARAORI/...",India,58262.4,USD,52.02,MTS,"INDIAN ORIGIN 1121 STEAM BASMATI RICE, P",Jebel Ali,MUNDRA SEA (INMUN1),52020.0
1,2,30-01-2019,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,0.0,United Arab Emirates,FAUJI EXIM PRIVATE LIMITED,"100, SAINIK VIHARPITAM PURA ,DELHI ,110034 ,...",India,7245.0,USD,6.30,MTS,"1121 RAW BASMATI RICE SORTEX, CROP 2016,",Jebel Ali,MUNDRA SEA (INMUN1),6300.0
2,3,30-01-2019,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,0.0,United Arab Emirates,K K R AGRO MILLS PRIVATE LIMITED,"III/678, OKKAL P.O. KALADY, ERNAKULAM DIST. ,...",India,9280.3,USD,5300.00,KGS,2 KG JEERAKASALA RICE,Jebel Ali,COCHIN SEA (INCOK1),5300.0
3,4,30-01-2019,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,0.0,United Arab Emirates,VISHNU ENTERPRISES,"NO.545,J-2, BKR NAGAR, SATHY ROAD,GANDHIPURAM,...",India,11518.0,USD,26000.00,KGS,NON BASMATHI RICE (THANJAVOOR KURUVA RIC,Jebel Ali,TUTICORIN SEA (INTUT1),26000.0
5,6,30-01-2019,10063010,"Rice, parboiled",LULU HYPER MARKET LLC.,United Arab Emirates,0.0,United Arab Emirates,SRESTA NATURAL BIOPRODUCTS PVT LTD,"203 PAVANI ANNEXE, ROADNO.2BANJARA HILLS ,HY...",India,999.6,USD,840.00,KGS,ORGANIC IDLI RICE 1KG(AS PER INV&PKG),ABU DHABI,HYDERABAD ICD (INSNF6),840.0

In [189]:
data['IMPORTER NAME'] = data['IMPORTER NAME'].str.replace(' ""', '')

In [190]:
# data.to_csv("data3.csv", index=False)

In [163]:
sort_data = data.sort_values(['QTY IN KG'], ascending=False)
sort_data.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,IMPORT VALUE CIF,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG
22502,2909,20-01-2022,10063020,Basmati Rice,TIR RANAN TOSAN INTERNATIONAL TRANS,Iran,0.0,Iran,S. S. FOODS,"KARNAL-KAITHAL ROAD, NISSING ,KARNAL/HARYANA ...",India,92322.0,USD,82.80,MTS,"INDIAN 1121 SELLA BASMATI RICE,4600 BOXE",Bandar Abbas,KANDLA SEA (INIXY1),82800.0
7102,1448,25-01-2020,10063020,Basmati Rice,ALI BIN ALI & PARTNERS,Qatar,0.0,Qatar,S B M INTERNATIONAL,", , , ,",India,66841.2,USD,82.52,MTS,AZIZAA DAILY MEAL BASMATI RICE PACKING 8 X5 KG...,PORT HAMAD,PATLI ICD (INPTL6),82520.0
20164,571,28-01-2022,10063010,"Rice, parboiled",OMEGA TRADERS,Sri Lanka,0.0,Sri Lanka,FOREVER INTERNATIONAL,"B1-14/104, MERRYLAND ROAD,P.O.- BIDHANGARH,SA...",India,29700.0,USD,82.50,MTS,PARBOILED RICE ( NON BASMATI )( 25 KGS P,Colombo,KOLKATA SEA (INCCU1),82500.0
26223,6630,07-01-2022,10063010,"Rice, parboiled",OMEGA TRADERS,Sri Lanka,0.0,Sri Lanka,FOREVER INTERNATIONAL,"B1-14/104, MERRYLAND ROAD,P.O.- BIDHANGARH,SA...",India,37125.0,USD,82.50,MTS,PARBOILED RICE (NON BASMATI RICE) (25 KG,Colombo,KOLKATA SEA (INCCU1),82500.0
23278,3685,18-01-2022,10063090,Rice Excptg Parboiled (Excl Basmati Rice),OMEGA TRADERS,Sri Lanka,0.0,Sri Lanka,FOREVER INTERNATIONAL,"B1-14/104, MERRYLAND ROAD,P.O.- BIDHANGARH,SA...",India,29700.0,USD,82.50,MTS,WHITE RAW RICE ( NON BASMATI )( 25 KGS P,Colombo,KOLKATA SEA (INCCU1),82500.0

In [164]:
imp_cntry = data['HS CODE DESCRIPTION'].unique()
imp_cntry

array(['Basmati Rice', 'Rice, parboiled',
       'Rice Excptg Parboiled (Excl Basmati Rice)',
       'Semimilled or wholly milled rice, whether or not polished or glazed',
       'ARROZ SEMIBLANQUEADO O BLANQUEADO, C/GRANO PARTIDO SUP. AL 5% P.INF O =15%',
       'Loại khác'], dtype=object)

In [165]:
zeros_count = (data == 0).sum()
zeros_count

NO                         0
ARRIVAL DATE               0
HS CODE                    0
HS CODE DESCRIPTION        0
IMPORTER NAME              0
IMPORTER COUNTRY           0
IMPORT VALUE CIF       17495
CITY STATE                 0
EXPORTER NAME              0
EXPORTER ADDRESS           0
COUNTRY OF ORIGIN          0
IMPORT VALUE FOB           0
CURRENCY                   0
QUANTITY                   0
QUANTITY UNIT              0
PRODUCT DETAILS            0
PORT OF ARRIVAL            0
PORT OF DEPARTURE          0
QTY IN KG                  0
dtype: int64

In [169]:
data.drop(columns=['IMPORT VALUE CIF'], inplace = True)

C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\4134207051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['IMPORT VALUE CIF'], inplace = True)

In [170]:
data.head()

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG
0,1,30-01-2019,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,United Arab Emirates,"GREEN VILLAGE AGROS PVT.LTD.,","938 SEC.-13URBAN ESTATE ,KARNAL/HRY/TARAORI/...",India,58262.4,USD,52.02,MTS,"INDIAN ORIGIN 1121 STEAM BASMATI RICE, P",Jebel Ali,MUNDRA SEA (INMUN1),52020.0
1,2,30-01-2019,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,United Arab Emirates,FAUJI EXIM PRIVATE LIMITED,"100, SAINIK VIHARPITAM PURA ,DELHI ,110034 ,...",India,7245.0,USD,6.30,MTS,"1121 RAW BASMATI RICE SORTEX, CROP 2016,",Jebel Ali,MUNDRA SEA (INMUN1),6300.0
2,3,30-01-2019,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,United Arab Emirates,K K R AGRO MILLS PRIVATE LIMITED,"III/678, OKKAL P.O. KALADY, ERNAKULAM DIST. ,...",India,9280.3,USD,5300.00,KGS,2 KG JEERAKASALA RICE,Jebel Ali,COCHIN SEA (INCOK1),5300.0
3,4,30-01-2019,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,United Arab Emirates,VISHNU ENTERPRISES,"NO.545,J-2, BKR NAGAR, SATHY ROAD,GANDHIPURAM,...",India,11518.0,USD,26000.00,KGS,NON BASMATHI RICE (THANJAVOOR KURUVA RIC,Jebel Ali,TUTICORIN SEA (INTUT1),26000.0
5,6,30-01-2019,10063010,"Rice, parboiled",LULU HYPER MARKET LLC.,United Arab Emirates,United Arab Emirates,SRESTA NATURAL BIOPRODUCTS PVT LTD,"203 PAVANI ANNEXE, ROADNO.2BANJARA HILLS ,HY...",India,999.6,USD,840.00,KGS,ORGANIC IDLI RICE 1KG(AS PER INV&PKG),ABU DHABI,HYDERABAD ICD (INSNF6),840.0

In [171]:
data['ARRIVAL DATE'] = pd.to_datetime(data['ARRIVAL DATE'])

# Extract month from 'ARRIVAL DATE' and create a new 'Month' column
data['Month'] = data['ARRIVAL DATE'].dt.month

# Map month numbers to month names
data['Month Name'] = data['Month'].apply(lambda x: pd.Timestamp(year=2023, month=x, day=1).strftime('%B'))
data.head(5)

C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\2232226803.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['ARRIVAL DATE'] = pd.to_datetime(data['ARRIVAL DATE'])
C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\2232226803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ARRIVAL DATE'] = pd.to_datetime(data['ARRIVAL DATE'])
C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\2232226803.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month'] = data['ARRIVAL DATE'].dt.month
C:\Users\safyc\AppData\Local\Temp\ipykernel_16424\2232226803.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Month Name'] = data['Month'].apply(lambda x: pd.Timestamp(year=2023, month=x, day=1).strftime('%B'))

,NO,ARRIVAL DATE,HS CODE,HS CODE DESCRIPTION,IMPORTER NAME,IMPORTER COUNTRY,CITY STATE,EXPORTER NAME,EXPORTER ADDRESS,COUNTRY OF ORIGIN,IMPORT VALUE FOB,CURRENCY,QUANTITY,QUANTITY UNIT,PRODUCT DETAILS,PORT OF ARRIVAL,PORT OF DEPARTURE,QTY IN KG,Month,Month Name
0,1,2019-01-30,10063020,Basmati Rice,NATRAJ FOOD STUFF FACTORY,United Arab Emirates,United Arab Emirates,"GREEN VILLAGE AGROS PVT.LTD.,","938 SEC.-13URBAN ESTATE ,KARNAL/HRY/TARAORI/...",India,58262.4,USD,52.02,MTS,"INDIAN ORIGIN 1121 STEAM BASMATI RICE, P",Jebel Ali,MUNDRA SEA (INMUN1),52020.0,1,January
1,2,2019-01-30,10063020,Basmati Rice,KV A GENERAL TRADING LLC.,United Arab Emirates,United Arab Emirates,FAUJI EXIM PRIVATE LIMITED,"100, SAINIK VIHARPITAM PURA ,DELHI ,110034 ,...",India,7245.0,USD,6.30,MTS,"1121 RAW BASMATI RICE SORTEX, CROP 2016,",Jebel Ali,MUNDRA SEA (INMUN1),6300.0,1,January
2,3,2019-01-30,10063010,"Rice, parboiled",NIRAPARA MIDDLEEAST GENERALTRAD LLC.,United Arab Emirates,United Arab Emirates,K K R AGRO MILLS PRIVATE LIMITED,"III/678, OKKAL P.O. KALADY, ERNAKULAM DIST. ,...",India,9280.3,USD,5300.00,KGS,2 KG JEERAKASALA RICE,Jebel Ali,COCHIN SEA (INCOK1),5300.0,1,January
3,4,2019-01-30,10063010,"Rice, parboiled",MATSYA OVER SEASLTD.,United Arab Emirates,United Arab Emirates,VISHNU ENTERPRISES,"NO.545,J-2, BKR NAGAR, SATHY ROAD,GANDHIPURAM,...",India,11518.0,USD,26000.00,KGS,NON BASMATHI RICE (THANJAVOOR KURUVA RIC,Jebel Ali,TUTICORIN SEA (INTUT1),26000.0,1,January
5,6,2019-01-30,10063010,"Rice, parboiled",LULU HYPER MARKET LLC.,United Arab Emirates,United Arab Emirates,SRESTA NATURAL BIOPRODUCTS PVT LTD,"203 PAVANI ANNEXE, ROADNO.2BANJARA HILLS ,HY...",India,999.6,USD,840.00,KGS,ORGANIC IDLI RICE 1KG(AS PER INV&PKG),ABU DHABI,HYDERABAD ICD (INSNF6),840.0,1,January

In [172]:
duplicate_rows = data[data.duplicated()]

if not duplicate_rows.empty:
    print("Duplicate rows found:")
    print(duplicate_rows)
else:
    print("No duplicate rows found.")

No duplicate rows found.

In [177]:
data.to_csv('data1.csv', index=False)

In [192]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

# Define your MySQL connection details
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "",  # Enter your MySQL password here
    "database": "riceexports"  # Your database name
}

# Create a connection string
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

# Assuming 'data' is your DataFrame that you want to add to MySQL

# Add data to MySQL
data.to_sql('ricedata', con=engine, if_exists='append', index=False)

17496